@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Main */
:root{
    --bg-color-1: #ffff;
    --bg-color-2: #f9f6f0;
    --bg-color-3: #f7f0e6;
    --grey-color: rgba(0,0,0,0.20);
    --heading-color: #101418;
    --text-color: #353535;
    --primary-color: #D73529;
    --secondary-color: #ffe6e5;
    --font-family-1: 'Roboto', sans-serif;
    --font-family-2: 'Cookie', sans-serif;
    --nav-items-border-bottom: 1px solid rgba(0,0,0,0.07);
    --color-scheme: light;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color-3);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 45px;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

header{
    height: 70px;
    width: 100%;
    background: var(--heading-color);
    color: var(--bg-color-1);
    display: inline-flex;
    align-items: center;
    position: fixed;
}

.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h5{
    font-size: 22px;
    color: var(--primary-color);
    display: inline-block;
}

.logo h5 span{
    color: white; 
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    font-weight: 550;
}

nav ul li a:hover{
    color:var(--bg-color-1);
    background-color:var(--primary-color);
    border-radius: 5px;
    padding:3px 5px;
}

.nav-links{
    color: white;
    text-decoration: none;
}

.logo{
    font-size: 24px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--bg-color-1);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--heading-color);
}

.button-container {
    display: flex;
    gap: 5px; /* Tambahkan jarak antar tombol jika diperlukan */
    margin-bottom: 20px;
    padding-left: 12px;
}

.summary{
    padding-left: 20px;
    padding-right: 20px;
}

#container-myrecipe{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden; 
}

th, td {
    border: 1px solid var(--bg-color-3);
    padding: 10px;
    text-align: left;
}

td {
    border: 1px solid var(--bg-color-3);
    padding: 10px;
    text-align: left;
}

th {
    background-color: var(--primary-color);
    color: var(--bg-color-1);
    text-align: center;
}

td{
    background: var(--bg-color-1);
    font-size: 14px;
}

tr:nth-child(odd) td {
    background: var(--secondary-color);
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100px;
    height: auto;
}

form {
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    width: 350px;
    border-radius: 5px;
    border: 2px solid var(--heading-color);
}

button{
    visibility: hidden;
}

.logos{
    width: 100px;
    height: 100px;
}

.center-content{
    text-align: center;
    justify-content: center;
}

/*untuk halaman users*/
.button-container-users {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

#container-users {
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 45px;
    justify-content: center;
}

#container-users table {
    display: inline-table; /* Atur tampilan tabel menjadi inline untuk memungkinkan penggunaan margin: auto; */
    width: 100%; /* Atur lebar tabel secara otomatis */
    max-width: 800px; 
    border-collapse: collapse;
}

#container-users th, #container-users td {
    padding: 10px;
    text-align: center;
}

#container-users td a {
    color: var(--heading-color);
}

#container-users td a:hover {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: underline;
}

footer{
    background: var(--heading-color);
    padding: 15px 0px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    width: 100%;
}

footer a {
    color: var(--bg-color-1);
    text-decoration: none;
}

#copyright{
    padding-top: 5px;
}

footer a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

@media (max-width: 768px) {
    footer {
        position: fixed;
        bottom: 0;
        left: 0; /* Footer akan tetap full-width hingga sisi kanan halaman */
        right: 0; /* Footer akan tetap full-width hingga sisi kanan halaman */
    }

    #container-myrecipe{
        padding-bottom: 90px;
    }
}